/***** FONTS ****/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.noto {
  font-family: "Noto Sans", sans-serif;
}
.fjalla {
  font-family: "Fjalla One", sans-serif;
}
.anton {
  font-family: "Anton", sans-serif;
}
.monserrat {
  font-family: "Montserrat";
}

/***** BODY y CONTAINERS *****/
body {
  height: 100%;
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #34495e;
  margin: 0px;
}
div#CatalogPage,
div#AboutUsPage,
div#CartPage {
  margin-top: 100px;
  margin-bottom: 50px;
}
img.cartThumbnail{
  max-height: 80px;
  width: auto;
}
tr.cartRows{
  background-color: #EEE;
  vertical-align: middle;
  text-transform: uppercase;
}
input.cartInput{
  text-align: center;
}
div.section-title h4 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
div#formDatosEnvio {
  font-size: 22px;
}
div#formDatosEnvio h5{
 margin-top: 10px;
}
div.backgroundResumenPedido{
  padding: 30px;
  background-color: #CCC;
  border: 1px dotted #333;
  height: 100%;
}
/***** NAVBAR *****/
nav.navbar-default {
  background-color: #100b0b !important;
  box-sizing: border-box;
  color: #34495e;
  display: block;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 70px;
  padding-bottom: 10px;
  padding-top: 5px;
  position: relative;
  text-size-adjust: 100%;
  top: 0px;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: right;
}
nav.navbar-default div.navbar-brand {
  float: left;
}
nav.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
a.navbar-item{
  text-decoration: none !important;
}
a.navbar-item button{
  background: #5a5f73;
  color: #FFF;
  padding: 10px 16px;
  margin: 5px;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid transparent;
  --button-padding: 10px 16px;
  --button-margin: 1px 10px 1px 0;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  font-family: inherit;
  font-size: 20px;
  text-shadow: none;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  font-weight: 400!important;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
a.navbar-item button:hover{
  background-color: #cd2d10;
}
img.navbar-logo {
  display: block;
  height: auto;
  margin: 5px 5px 5px 25px;
}

.navbar-item span.cart-count{
  font-size: 8px; 
}
a.category_link{
  text-decoration: none;
  color: #333;
}

/***** Pages *****/
div.page div.main-txt {
  margin-top: 90px;
  padding-left: 50px;
  padding-top: 63px;
  line-height: 30px;
  font-size: 24px !important;
  padding-bottom: 86px;
  color: #ffffff;
}

div.page div.highlight {
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding: 10px;
  margin-top: 120px;
  width: 68%;
  border-left: 4px solid #fff;
  padding-left: 20px;
  margin-left: 20px;
}
div.team-member {
  text-align: center;
}

div.team-member img {
  width: 160px;
  height: 160px;
  border: 5px solid #fff;
  margin-right: 44px !important;
  display: inline-block;
}
img.rounded-circle {
  border-radius: 50% !important;
}
/***** Page AboutUs *****/
div.box-juegos {
  border: 1px solid #fff;
}
div.logo-sucesos,
div.logo-arsdomino,
div.logo-nomnoms {
  width: 74%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.logo-sucesos img,
div.logo-arsdomino img,
div.logo-nomnoms img {
  display: block;
  max-width: 66%;
  height: auto;
  margin-bottom: 6px;
}
div#boxAboutSucesos:hover,
div#boxAboutArs:hover,
div#boxAboutNoms:hover {
  cursor: pointer;
  border: 1px solid #cd2d10;
}
div.box-juegos div.tagline-sucesos {
  width: 80%;
  margin-left: 30px;
  margin-top: 25px;
  color: #352f31;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
}
div.box-juegos div.tagline-arsdomino {
  width: 80%;
  margin-left: 30px;
  margin-top: 25px;
  color: #fff;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
}
div.box-juegos div.tagline-nomnoms {
  width: 80%;
  margin-left: 30px;
  margin-top: 25px;
  color: #f0f453;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
}
div.box-juegos img.logo-juego {
  width: 100%;
}
.title-txt {
  margin-top: 70px;
  font-size: 60px;
  letter-spacing: 5px;
  font-kerning: normal;
  margin-bottom: 50px;
  color: #333;
  font-family: "Anton", sans-serif;
}

/***** Page Catalogo *****/
ul.catalogo_categorias {
  text-align: right;
  margin-bottom: 50px;
}
ul.catalogo_categorias li {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  list-style: none;
  display: inline-block;
  color: #111111;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

div.product_item {
  flex: 0 0 33%;
  max-width: 33%;
  height: 400px;
  margin-bottom: 40px;
  position: relative;
}
div.product_item .label {
  font-size: 11px;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  padding: 2px 8px;
  text-transform: uppercase;
  position: absolute;
  left: 5px;
  top: 15px;
  z-index: 10;
}
div.product_item div.product_item_pic {
  min-height: 300px;
}
div.product_item div.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-out;
  background-color: #cd2d10;
  display: flex;
  align-items: flex-end;
}
div.product_item div.overlay div {
  width: 100%;
  display: block;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-style: italic;
  padding: 10px;
}
div.product_item div.overlay span {
  text-decoration: none;
}
div.product_item:hover div.overlay {
  opacity: 0.9;
  cursor: pointer;
}
div.product_item .label.new {
  background: #36a300;
}
div.product_item .label.combo {
  background: #000099;
}
div.product_item .label.stockout {
  background: #990000;
}
div.product_item div.product_item_text {
  text-align: center;
  padding-top: 22px;
  text-decoration: none;
}
div.product_item div.product_item_text a {
  font-size: 18px;
  color: #111;
  font-weight: 400;
  text-decoration: none;
}
div.product_item div.product_price {
  color: #111;
  font-size: 22px;
  font-weight: 900;
}
div.product_item span.stats {
  font-size: 14px;
  color: yellow;
}

/*** Grillas ***/

